body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.rounded {
  border-radius: .25rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.margin-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.05);
}

*, ::before, ::after {
  box-sizing: border-box;
}

.border-bottom {
  border-bottom: 1px solid black !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.w-100 {
  width: 100%;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.salutation {
  background-color: purple;
  color: white;
}

.modal {
  opacity: 1;
}